html,
body {
  height: 100%;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
main {
  width: 100%;
  max-width: 700px;
  padding: 15px;
  margin: auto;
}
select {
  width: 75%;
}
.logo {
  float: left;
  margin-right: 20px;
}
.widgets {
  clear: left;
}